.authContainer {
  flex: 1;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.authRightContainer {
  background-color: #ECEFFB;
  flex: 1;
  min-width: 100%;
  align-items: center;
  gap: 28px;
  padding-top: 5%;
  padding-bottom: 3%;
}

.authRightWrapper {
  display: flex;
  flex: 1;
  min-width: 50%;
}

.authLeftContainer {
  flex: 1;
  min-width: 50%;
  justify-content: flex-start;
  padding: 0 24px;
}

.logoContainer {
  height: 100%;
  width: 80%;
  position: relative;
  filter: grayscale(1);
}

.securityContainer {
  position: relative;
  width: 100%;
  height: 129px;
}

.mobileDeviceWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-bottom: 24px;
}

.devicesContainer {
  position: relative;
  width: 67px;
  height: 17px;
}

@media only screen and (min-width: 640px) {
  .authLeftContainer {
    padding: 0 16%;
  }

  .tabletSecurityContainer {
    position: relative;
    width: 311px;
    height: 130px;
  }

  .tabletSecurityWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 1024px) {
  .authLeftContainer {
    padding: 0 8%;
  }

  .devicesContainer {
    position: relative;
    width: 149px;
    height: 38px;
  }
}