.modalContainer {
  width: 95%;
  background-color: #ECEFFB;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  padding: 64px 24px;
  position: relative;
  gap: 32px
}

.textFieldContainer {
  gap: 16px;
  width: 100%;
}

.passwordInput input {
  direction: ltr;
  text-align: center;
  letter-spacing: 15px;
  text-indent: 15px;
  margin-top: 5px;
}

.passwordTextField {
  width: 100%;
}

.button {
  width: 80%;
}
