.wrapper {
  padding: 16px 12px 8px;
  background-color: #ffffff;
  width: 100%;
  border-radius: 8px;
  gap: 26px
}

.container {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 100%;
}

.counterContainer {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #F1F1F1;
}

.rightContainer {
  align-items: center;
  gap: 16px
}

.titleContainer {
  gap: 12px
}

.leftContainer {
  gap: 4px
}

.inProgressContainer {
  background-color: #FCA600;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.doneContainer {
  background-color: #24AFB6;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.doneIndicator {
  position: absolute;
  width: 84px;
  height: 84px;
  left: 0;
  top: 0;
  background: #FCA600;
  border-radius: 49px;
  transform: rotate(-90deg);
}