.container {
  position: relative;
  width: 270px;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
}

.wrapper {
  width: 100%;
  background-color: #F6F7FB;
  min-height: 100vh;
  height: 100%;
}

.modal {
  transition-property: visibility;
  transition-duration: 500ms;
  justify-content: flex-end;
}

.rightMenu {
  z-index: 1;
  width: 100%;
  background-color: #24AFB6;
  min-height: 100vh;
  height: 100%;
  flex-grow: 1;
}

.rightMenuContainer {
  background-color: #24AFB6;
  padding-top: 24px;
  width: 270px;
  height: 100%;
  align-items: center;
  transition-property: width;
  transition-duration: 500ms;
  overflow: scroll;
  position: relative;
}

.rightMenuWrapper {
  height: 100%;
  align-items: center;
}

.indicatorContainer {
  transition-property: right;
  transition-duration: 500ms;
  position: absolute;
  right: 245px;
}

.tabletIndicator {
  position: relative;
  width: 68px;
  height: 139px;
}

.menuIcon {
  position: relative;
  width: 80px;
  height: 91px;
  min-width: 80px;
  min-height: 91px;
  margin-bottom: 80px;
}

.icon {
  position: relative;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
}

.iconContainer {
  padding-right: 37px;
  width: 100%;
  align-self: center;
  justify-content: flex-start;
  gap: 16px;
}

.itemWrapper {
  margin-bottom: 54px;
}

.iconName {
  white-space: nowrap;
}

.bottomMenuContainer {
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.topMenuContainer {
  width: 100%;
}

.IndicatorPosition {
  transition-property: top, right;
  transition-duration: 500ms;
  top: 145px;
  bottom: unset;
}

.requestIndicatorPosition {
  top: 360px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.messagesIndicatorPosition {
  top: 540px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.contactsIndicatorPosition {
  top: 625px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.orderIndicatorPosition {
  top: 715px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.profileIndicatorPosition {
  top: 800px;
  bottom: unset;
  transition-property: bottom, right;
  transition-duration: 500ms;
}


.settingsIndicatorPosition {
  top: 885px;
  bottom: unset;
  transition-property: bottom, right;
  transition-duration: 500ms;
}

.subItem {
  cursor: pointer;
  width: 100%;
  justify-content: flex-start;
  margin-top: 21px;
  padding-right: 76px;
}

.reportsIndicatorPosition {
  top: 200px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.accountingIndicatorPosition {
  top: 240px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.calendarIndicatorPosition {
  top: 285px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.requestpresentIndicatorPosition {
  top: 415px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.requestpastIndicatorPosition {
  top: 460px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}