.modalContainer {
  background-color: #ECEFFB;
  width: 90%;
  border-radius: 24px;
  padding: 86px 64px;
  align-self: center;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 16px;
}


.row {
  align-items: center;
  gap: 6px
}

.button {
  margin-top: 32px;
  width: 80%;
}

.timeContainer {
  margin-right: 16px;
  margin-left: 8px;
  width: 100%;
}

.timeInput {
  width: 100%;
}

.dataWrapper {
  width: 80%;
  align-items: flex-start;
  justify-content: space-between;
}

.text {
  gap: 16px;
  flex: 1;
}

.input {
  gap: 32px;
  flex: 1
}

.time {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .modalContainer {
    width: 100%;
    align-self: flex-end;
    border-radius: 16px 16px 0 0;
    padding: 42px 24px;
  }

  .row {
    align-items: center;
    gap: 6px;
    width: 100%;
  }

  .dataWrapper {
    width: 100%;
    align-items: flex-end;
    gap: 20px;
  }

  .timeContainer {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }

  .input {
    width: 100%;
  }
}