.rightMenu {
  z-index: 1;
  width: 100%;
  background-color: #24AFB6;
  position: absolute;
  right: 0;
  min-height: 100vh;
  height: 100%;
}

.trueRightMenuContainer {
  padding-top: 24px;
  width: 270px;
  align-items: center;
  transition-property: width;
  transition-duration: 500ms;
}

.falseRightMenuContainer {
  transition-property: width;
  transition-duration: 500ms;
  padding-top: 24px;
  width: 119px;
  align-items: center;
}

.falseIndicatorContainer {
  transition-property: right;
  transition-duration: 500ms;
  position: absolute;
  right: 96px;
}

.trueIndicatorContainer {
  transition-property: right;
  transition-duration: 500ms;
  position: absolute;
  right: 245px;
}

.tabletIndicator {
  position: relative;
  width: 68px;
  height: 139px;
}

.menuIcon {
  position: relative;
  width: 80px;
  height: 91px;
  min-width: 80px;
  min-height: 91px;
  margin-bottom: 80px;
}

.icon {
  position: relative;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
}

.iconContainer {
  padding-right: 37px;
  width: 100%;
  margin-bottom: 54px;
  align-self: center;
  justify-content: flex-start;
  gap: 16px;
}

.trueIconName {
  white-space: nowrap;
}

.falseIconName {
  display: none;
}

.bottomMenuContainer {
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.topMenuContainer {
  width: 100%;
}

.IndicatorPosition {
  transition-property: top, right;
  transition-duration: 500ms;
  top: 145px;
  bottom: unset;
}

.requestIndicatorPosition {
  top: 230px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.messagesIndicatorPosition {
  top: 315px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.contactsIndicatorPosition {
  top: 400px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.orderIndicatorPosition {
  top: 485px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.profileIndicatorPosition {
  top: unset;
  bottom: 170px;
  transition-property: bottom, right;
  transition-duration: 500ms;
}

.profileIndicatorPosition {
  top: unset;
  bottom: 170px;
  transition-property: bottom, right;
  transition-duration: 500ms;
}

.settingsIndicatorPosition {
  top: unset;
  bottom: 85px;
  transition-property: bottom, right;
  transition-duration: 500ms;
}