.container {
  width: 100%;
  gap: 8px;
}

.textField {
  width: 300px;
}

.input input {
  text-align: center;
  margin-top: 5px;
}

.button {
  width: 60%;
  margin-top: 60px;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 100%;
    gap: 24px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}