.rightMenu {
  z-index: 1;
  background-color: #24AFB6;
  position: relative;
  min-height: 100vh;
}

.trueRightMenuContainer {
  padding-top: 24px;
  width: 304px;
  align-items: center;
  transition-property: width, height;
  transition-duration: 500ms;
}

.falseRightMenuContainer {
  transition-property: width, height;
  transition-duration: 500ms;
  padding-top: 24px;
  width: 158px;
  align-items: center;
}

.falseIndicatorContainer {
  transition-property: right;
  transition-duration: 500ms;
  position: absolute;
  right: 135px;
}

.trueIndicatorContainer {
  transition-property: right;
  transition-duration: 500ms;
  position: absolute;
  right: 280px;
}

.tabletIndicator {
  position: relative;
  width: 68px;
  height: 139px;
}

.menuIcon {
  position: relative;
  width: 80px;
  height: 91px;
  min-width: 80px;
  min-height: 91px;
  margin-bottom: 80px;
}

.icon {
  position: relative;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  cursor: pointer;
}

.bottomMenuContainer {
  justify-content: flex-end;
  height: 100%;
  align-items: center;
  width: 100%;
}

.trueIconName {
  white-space: nowrap;
}

.falseIconName {
  display: none;
}

.topMenuContainer {
  width: 100%;
  align-items: center;
}

.iconContainer {
  cursor: pointer;
  width: 100%;
  align-self: center;
  justify-content: flex-start;
  gap: 16px;
}

.falseIndicatorPosition {
  transition-property: top, right;
  transition-duration: 500ms;
  top: 145px;
  bottom: unset;
}

.trueIndicatorPosition {
  transition-property: top, right;
  transition-duration: 500ms;
  top: 145px;
  bottom: unset;
}

.falserequestIndicatorPosition {
  top: 230px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.truerequestIndicatorPosition {
  top: 385px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.falsemessagesIndicatorPosition {
  top: 315px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.truemessagesIndicatorPosition {
  top: 575px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.falsecontactsIndicatorPosition {
  top: 400px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.truecontactsIndicatorPosition {
  top: 665px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.falseorderIndicatorPosition {
  top: 485px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.trueorderIndicatorPosition {
  top: 745px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.trueprofileIndicatorPosition {
  top: unset;
  bottom: 170px;
  transition-property: bottom, right;
  transition-duration: 500ms;
}

.falseprofileIndicatorPosition {
  top: unset;
  bottom: 170px;
  transition-property: bottom, right;
  transition-duration: 500ms;
}

.falsesettingsIndicatorPosition {
  top: unset;
  bottom: 85px;
  transition-property: bottom, right;
  transition-duration: 500ms;
}

.truesettingsIndicatorPosition {
  top: unset;
  bottom: 85px;
  transition-property: bottom, right;
  transition-duration: 500ms;
}

.truereportsIndicatorPosition {
  top: 200px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.falsereportsIndicatorPosition {
  top: 145px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.trueaccountingIndicatorPosition {
  top: 255px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.falseaccountingIndicatorPosition {
  top: 145px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.truecalendarIndicatorPosition {
  top: 305px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.falsecalendarIndicatorPosition {
  top: 145px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.truerequestpresentIndicatorPosition {
  top: 440px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.falserequestpresentIndicatorPosition {
  top: 230px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.truerequestpastIndicatorPosition {
  top: 490px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.falserequestpastIndicatorPosition {
  top: 230px;
  bottom: unset;
  transition-property: top, right;
  transition-duration: 500ms;
}

.truereportsSubItem {
  width: 100%;
  justify-content: flex-start;
  margin-top: 21px;
  padding-right: 32px;
}

.falsereportsSubItem {
  display: none;
}

.itemWrapper {
  margin-bottom: 54px;
}

.trueSubItem {
  cursor: pointer;
  width: 100%;
  justify-content: flex-start;
  margin-top: 21px;
  padding-right: 32px;
}

.falseSubItem {
  display: none;
}