.select {
  width: 100%;
}

.degreeStyle {
  display: flex;
  justify-content: flex-end;
}

.dropDownWrapper {
  background-color: #ffffff;
  height: 48px;
  align-items: center;
  width: 100%;
  border-radius: 8px;
}

.dropDownSkeleton {
  height: 48px;
  align-items: center;
  margin-right: 16px;
  margin-left: 8px;
  width: 100%;
  border-radius: 8px;
}

.skeleton {
  height: 48px;
  width: 100%;
  border-radius: 8px;
}

.button {
  width: 100%;
  align-self: center;
  margin-top: 16px;
}

.buttonContainer {
  width: 100%;
  padding: 8px 8px 16px;
  gap: 8px
}

@media only screen and (min-width: 1024px) {
  .dropDownWrapper {
    height: 56px;
  }
}