.backgroundImage {
  width: 100%;
  position: relative;
}

.container {
  padding-top: 98px;
  min-height: 100vh;
}

.button {
  width: 98%;
}

.backImage {
  position: absolute;
  height: 138px;
  width: 100%;
}

.frontImage {
  position: absolute;
  width: 100%;
  height: 106px;
  top: 30px
}

.profileBackground {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #ECEFFB;
}

.profile {
  position: relative;
  width: 66px;
  height: 66px;
  z-index: 6;
}

.bottomContainer {
  margin-top: 85px;
  z-index: 4;
  align-items: center;
}

.camera {
  position: relative;
  width: 20px;
  height: 20px;
}

.cameraButton {
  position: absolute;
  top: 75px;
  z-index: 6;
}

.profileInfo {
  position: relative;
  align-items: center;
}

.names {
  width: 100%;
  align-items: center;
  margin-top: 24px;
}

.companyName {
  align-items: center;
  gap: 8px;
}

.starIcon {
  position: relative;
  width: 64px;
  height: 13px;
  margin-top: 12px;
}

.inputFields {
  margin: 36px 0;
  width: 100%;
  gap: 16px;
}

.textInput {
  width: 100%;
  margin-bottom: 16px;
}

.inputWrapper {
  background-color: #ffffff;
  align-items: center;
  padding: 0 16px 0 8px;
  border-radius: 4px;
}

.inputLabel {
  white-space: nowrap;
}

.clearInput {
  position: relative;
  width: 24px;
  height: 24px;
}

.selectTypeContainer {
  width: 100%;
}

.buttonContainer {
  width: 100%;
  margin-top: 42px;
  margin-bottom: 36px;
}

.nationalCard {
  position: relative;
  width: 320px;
  height: 300px;
}

@media only screen and (min-width: 640px) {
  .cameraButton {
    min-width: 40px;
    min-height: 40px;
  }

  .inputFields {
    flex-wrap: wrap;
    margin-top: 132px;
    gap: 16px
  }

  .inputWrapper {
    width: 48%;
  }

  .backImage {
    position: absolute;
    height: 300px;
    width: 100%;
  }

  .frontImage {
    position: absolute;
    width: 100%;
    height: 230px;
    top: 70px
  }

  .bottomContainer {
    margin-top: 230px;
    z-index: 4;
    align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .textInput {
    width: 48%;
  }

  .backImage {
    position: absolute;
    height: 523px;
    width: 100%;
  }

  .frontImage {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 70px
  }

  .bottomContainer {
    margin-top: 440px;
    z-index: 4;
    align-items: center;
  }

  .profileBackground {
    width: 205px;
    height: 205px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #ECEFFB;
  }

  .profile {
    position: relative;
    width: 140px;
    height: 140px;
    z-index: 6;
  }

  .cameraButton {
    top: 180px;
  }

  .profileInfo {
    width: 100%;
  }
}